.member-profile-view-container {
	.member-profile-heading-container {
		vertical-align: top;

		.member-profile-subheading {
			color: #54555f;
		}
	}

	.member-profile-card,
	.member-roles-card,
	.member-account-card {
		border: 1px solid #e2e2e4;
		border-radius: 10px;
		min-width: 524px;
		padding: 34px 24px;
	}

	.member-profile-card-icon,
	.member-roles-card-icon,
	.member-account-card-icon {
		float: right;
	}

	.member-profile-row {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		gap: 50px;
		height: 200px;
		margin-top: 1rem;
		width: 100%;

		table {
			th,
			td {
				font-size: 13px;
			}

			th {
				font-weight: 600;
			}

			td {
				color: #54555f;
				padding-left: 6rem;
			}
		}
	}

	.member-profile-image img {
		border-radius: 72px;
		height: 72px;
		width: 72px;
	}

	.member-profile-back-button {
		align-items: center;
		cursor: pointer;
		display: flex;

		svg {
			margin-top: 1px;
		}

		&-text,
		svg {
			color: #000;
		}

		&-text {
			font-weight: 600;
		}
	}
}
