.get-app-modal {
	&-body {
		&-container {
			display: flex;
			flex-direction: column;
			gap: 0.625rem;
			padding: 1.063rem;
			width: 100%;
		}

		&-content {
			&-alert {
				&-icon {
					filter: invert(31%) sepia(51%) saturate(769%)
						hue-rotate(179deg) brightness(100%) contrast(98%);
					height: 1rem;
					margin-right: 0.75rem;
					width: 1rem;
				}

				&-message {
					color: #54555f;
					font-size: 0.813rem;
					font-weight: 400;
					line-height: 1rem;
				}
			}

			&-app-info {
				&-container {
					display: flex;
					flex-direction: column;
				}

				&-name {
					color: #282934;
					font-size: 1rem;
					font-weight: 600;
					line-height: 1.5rem;
				}

				&-version {
					color: #54555f;
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.5rem;
				}
			}

			&-container {
				align-items: center;
				display: flex;
				justify-content: space-between;
			}

			&-image {
				border-radius: 8px;
				height: 3.5rem;
				width: 3.5rem;
			}

			&-left {
				align-items: center;
				display: flex;
				gap: 1rem;
				justify-content: center;
			}

			&-right {
				align-items: end;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				&-price {
					color: #282934;
					font-size: 0.75rem;
					font-weight: 600;
					line-height: 1rem;
				}

				&-subscription {
					&-container {
						align-items: center;
						background: #e6ebf5;
						border-radius: 4px;
						display: flex;
						height: 1rem;
						justify-content: center;
						padding: 0.5rem;
						width: 3.563rem;
					}

					&-text {
						color: #1c3667;
						font-size: 0.688rem;
						font-weight: 400;
						line-height: 1rem;
					}
				}

				&-value {
					color: #282934;
					font-size: 1.125rem;
					font-weight: 600;
					line-height: 1.25rem;
				}
			}
		}

		&-card-body.inline-scroller {
			max-height: 700px;
		}

		&-card-container {
			border: 1px solid #e2e2e4;
			border-radius: 0.625rem;
			height: auto;
			width: 100%;
		}

		&-card-header {
			align-items: center;
			background-color: #f7f7f8;
			border-radius: 0.625rem 0.625rem 0 0;
			display: flex;
			height: 3.5rem;
			justify-content: space-between;
			padding: 1.25rem 1rem;
			width: 100%;

			button {
				align-items: center;
				background: #fff;
				border: 1px solid #0b5fff;
				border-radius: 6px;
				color: #0b5fff;
				font-size: 14px;
				padding: 6px 12px;

				&:hover {
					background-color: #0b5fff;
					color: #fff;
				}
			}

			&-left-content {
				color: #54555f;
				font-size: 0.875rem;
				font-weight: 600;
				line-height: 1rem;
			}

			&-right-content {
				&-account-info {
					align-items: end;
					display: flex;
					flex-direction: column;
					justify-content: center;

					&-email {
						color: #54555f;
						font-size: 0.688rem;
						font-weight: 400;
						line-height: 1rem;
					}

					&-icon {
						border-radius: 50%;
						height: 1.5rem;
						width: 1.5rem;
					}

					&-name {
						color: #282934;
						font-size: 0.875rem;
						font-weight: 600;
						line-height: 1rem;
					}
				}

				&-container {
					align-items: center;
					display: flex;
					gap: 0.5rem;
					justify-content: center;
				}
			}
		}

		&-card-new-address {
			align-items: center;
			background-color: #fbfcfe;
			border: 1px solid #e7efff;
			border-radius: 10px;
			color: #0b5fff;
			display: flex;
			font-size: 13px;
			font-weight: 600;
			height: 48px;
			justify-content: center;
			text-align: center;
			width: 100%;

			svg {
				height: 16px;
				margin: 0;
				padding-right: 4px;
				width: 16px;
			}

			&:hover {
				background-color: #e7efff;
			}
		}
	}

	&-button {
		&-cancel {
			background: none;
			border: solid 1px #2b3a4b;
			border-radius: 0.5rem;
			color: #2b3a4b;
			font-size: 1rem;
			font-weight: 600;
			height: 2.5rem;
			line-height: 1.5rem;
			width: 4.875rem;

			&:hover {
				background: #2b3a4b;
				color: #fff;
			}

			transition: background 0.3s;
			transition: color 0.3s;
		}

		&-get-this-app {
			background-color: #0053f0;
			border: solid 1px #0053f0;
			border-radius: 0.5rem;
			color: #fff;
			font-size: 1rem;
			font-weight: 600;
			height: 2.5rem;
			line-height: 1.5rem;
			padding-left: 16px;
			padding-right: 16px;
			width: auto;

			&-disabled {
				background: #6d9fff;
				border: solid 1px #6d9fff;
				cursor: not-allowed;
			}

			transition: background 0.3s;
			transition: border 0.3s;
			transition: color 0.3s;
		}
	}

	&-double-input {
		display: flex;
		justify-content: space-between;

		.form-group {
			width: 247px;
		}
	}

	&-footer {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		gap: 8px;

		span {
			color: #54555f;
			font-size: 13px;
			line-height: 16px;
		}
	}

	&-header {
		&-container {
			display: flex;
			flex-direction: row;
			gap: 0.25rem;
			justify-content: space-between;
			padding: 0.938rem 1.5rem;
		}

		&-description {
			color: #6c6c75;
			font-size: 0.813rem;
			font-weight: 400;
			line-height: 1rem;
		}

		&-left-content {
			display: flex;
			flex-direction: column;
		}

		&-title {
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 2.5rem;
		}
	}

	&-info-icon {
		filter: invert(65%) sepia(4%) saturate(515%) hue-rotate(196deg)
			brightness(95%) contrast(84%);
		height: 16px;
		margin-right: 12px;
		vertical-align: sub;
		width: 16px;
	}

	&-payment-methods-container {
		display: flex;
		gap: 16px;
		padding-bottom: 32px;
	}

	&-section {
		line-height: 20px;

		&-card-addresses {
			.radio-card-container {
				margin-bottom: 17px;
			}
		}
	}

	&-section > .field-base-container {
		label {
			font-size: 18px;
		}
	}

	&-step-item {
		&:last-child {
			margin-left: 27px;
		}

		&-active {
			color: #0b5fff;
			font-weight: 600;
		}
	}

	&-step-icon {
		filter: invert(75%) sepia(1%) saturate(3107%) hue-rotate(199deg)
			brightness(82%) contrast(87%);
		height: 8px;
		margin-right: 0.625rem;
		width: 8px;

		&-checked {
			filter: invert(26%) sepia(83%) saturate(5507%) hue-rotate(220deg)
				brightness(104%) contrast(97%);
			height: 16px;
			margin-right: 0.625rem;
			width: 16px;
		}

		&-selected {
			filter: invert(26%) sepia(83%) saturate(5507%) hue-rotate(220deg)
				brightness(104%) contrast(97%);
			height: 18px;
			margin-right: 0.625rem;
			width: 18px;
		}
	}

	&-text-divider {
		align-items: center;
		color: #54555f;
		display: flex;
		font-size: 14px;
		margin: 40px 0;

		&::before,
		&::after {
			background-color: #e2e2e4;
			content: '';
			flex-grow: 1;
			height: 1px;
		}

		&::before {
			margin-right: 24px;
		}
		&::after {
			margin-left: 24px;
		}
	}

	&-use-terms {
		color: #54555f;
		font-size: 13px;
	}
}
