.portlet-sort {
	.sort-configurations-options {
		.relevance {
			.input-group-item {
				&:first-child {
					margin-left: 40px;
				}
			}
		}

		.undomanager-content {
			height: 3.5rem;
		}

		.view-switcher {
			align-items: center;
			display: flex;
			flex-direction: row-reverse;
		}
	}
}
