.portlet-sort {
	.sort-configurations-options {
		.relevance {
			.input-group-item {
				&:first-child {
					margin-left: 40px;
				}

				.toggle-switch {
					margin-left: 12px;
					width: 80px;
				}
			}

			.text-secondary {
				font-size: 14px;
			}
		}

		.undomanager-content {
			height: 3.5rem;
		}

		.view-switcher {
			align-items: center;
			display: flex;
			flex-direction: row-reverse;
			margin-bottom: 8px;
		}
	}
}
