[#assign mdfClaimId = (request.getAttribute("INFO_ITEM").objectEntryId)! /]

[#if mdfClaimId?has_content]
[#assign mdfClaim = restClient.get("/c/mdfclaims/${mdfClaimId}") /]

	[#if mdfClaim?has_content]
		[#assign mdfRequestId = mdfClaim.r_mdfReqToMDFClms_c_mdfRequestId /]

		[#if mdfRequestId?has_content]
			[#assign site_url = (themeDisplay.getURLCurrent()?keep_before("/l/${mdfClaimId}"))! /]
				<a class="btn btn-ghost btn-style-neutral" href="${site_url}/l/${mdfRequestId}" id="edit-button-manager">
					<div>
						[@clay["icon"] symbol="angle-left"/]
						Back
					</div>
				</a>
		[/#if]
	[/#if]
[/#if]