.button-root {
	&.btn-profile {
		background-color: transparent;
		font-size: 18px;
		font-weight: 600;
		opacity: 0.7;
	}

	&.btn.link-disabled {
		box-shadow: none;
		cursor: not-allowed;
		opacity: 0.26;
	}

	&.btn-primary.link-disabled {
		color: $white;
	}
}

.btn {
	a {
		text-decoration: none;
	}

	&.btn-secondary {
		a {
			color: $secondary;
		}

		&:not(:disabled) {
			&:active, &:focus,
			&:hover {
				color: $main;
			}
		}
	}
}
