.dropdown-root {
	&.no-styles .dropdown-toggle {
		border-width: 0;
		padding: 0;
	}

	&.read-only {
		pointer-events: none;
	}

	.caret-root {
		margin-left: 8px;
	}

	.dropdown-toggle {
		display: flex;
		width: 100%;

		&.show-caret {
			text-align: left;
		}

		> .text-truncate {
			flex-grow: 1;
		}
	}

	.dropdown-menu {
		max-width: 100%;
		position: initial;
		width: 100%;

		&.show {
			z-index: 5000;
		}

		.dropdown-item {
			&.active label {
				color: $main;
			}

			label {
				color: $mainLighten28;
			}
		}

		.footer-action {
			padding: 16px;
		}
	}
}