.loading-root {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

	&.display-card {
		bottom: 0;
		left: 0;
		margin: auto;
		min-height: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}