.form-header {
	background-color: $white;
	border-bottom: 1px solid $mainLighten65;

	.form-header-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 12px 0;
	}

	.form-header-section-left {
		display: flex;
		flex: 1;
		padding-right: 40px;
	}

	.form-header-section-right {
		align-items: center;
		display: flex;

		.toggle-editing {
			margin-bottom: 0;
		}

		.btn-group {
			align-items: center;
			display: flex;
			font-size: $fontSizeSmall;
			padding: 0 16px;

			&:not(:first-child) {
				border-left: 1px solid $mainLighten74;
			}

			.btn-group-item {
				&:not(:last-child) {
					margin-right: 1rem;
				}

				.include-anon-help-icon {
					color: $secondary;
				}

				.toggle-switch-root {
					margin-bottom: 0;

					.toggle-switch-check[value='false'] + .toggle-switch-bar {
						color: $mainLighten52;
					}

					.toggle-switch-handle {
						font-size: $fontSizeSmall;
						text-transform: capitalize;
					}
				}
			}

			.total-members {
				align-items: center;
				display: flex;
				font-weight: $fontWeightSemiBold;

				.spinner-root {
					margin-left: 4px;
				}
			}

			.total-members-count {
				margin: 0 4px;
				min-width: 1em;
				position: relative;
			}
		}
	}
}
