@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.spinner-root {
	&.spinner-center {
		align-items: center;
		display: flex;
		height: 100%;
		width: 100%;

		.loading-animation {
			bottom: 0;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&.spinner-inline {
		width: auto;

		.loading-animation {
			position: relative;
		}
	}

	&.spinner-fade-in {
		animation: 0.4s ease-in 0.8s normal forwards running fadein;
		opacity: 0;
	}

	&.spinner-overlay {
		align-items: center;
		background-color: rgba($white, 0.75);
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
	}

	&.spinner-spacer {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 40px auto;
	}
}