.alert-feed {
	max-width: 600px;
	position: fixed;
	right: 1rem;
	top: 1rem;
	width: 100%;
}

.circle {
	align-items: center;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin-right: 0.5rem;
}

.cerebro-index-root .loading-animation {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.c-pointer {
	cursor: pointer;
}

.description-secondary {
	color: $secondary;
	line-height: 1.6rem;
}

.subnav-tbar-info {
	background: $infoLighten53;
	color: $info;
}

.text-l-secondary {
	color: $mainLighten52 !important;
}

/**
 * Flex Grow Util;
 */

.flex-grow-1 {
	flex-grow: 1 !important;
}

/**
 * Font Size Utils
 */

.font-size-sm {
	font-size: $fontSizeSmall;
}

.font-size-sm-1x {
	font-size: $font-size-sm-1x;
}

.font-size-sm-2x {
	font-size: $font-size-sm-2x;
}

.font-size-md {
	font-size: $font-size-md;
}

.font-size-md-2x {
	font-size: $font-size-md-2x;
}

.font-size-lg {
	font-size: $font-size-lg;
}

.font-size-lg-3x {
	font-size: $font-size-lg-3x;
}

/**
 * Font Weight Utils
 */

.font-weight-semibold {
	font-weight: $fontWeightSemiBold;
}

/**
 * TEMP - Remove z-index trick below after
 * upgrade @clayui/css version to 3.93
 */

.modal-open .dropdown-menu {
	z-index: 9999;
}
