[#assign mdfClaimId = (request.getAttribute("INFO_ITEM").objectEntryId)! /]
[#assign userRoles = permissionChecker.getUserBag().getRoles()/]
[#assign approvedRoles = [""] /]

[#if configuration.channelAccountManager]
	[#assign approvedRoles = approvedRoles + ["Channel Account Manager"] /]
[/#if]

[#if configuration.channelFinanceManager]
	[#assign approvedRoles = approvedRoles + ["Channel Finance Manager"] /]
[/#if]

[#if configuration.channelGeneralManager]
	[#assign approvedRoles = approvedRoles + ["Channel General Manager"] /]
[/#if]

[#if configuration.channelGlobalMarketingManager]
	[#assign approvedRoles = approvedRoles + ["Channel Global Marketing Manager"] /]
[/#if]

[#if configuration.channelRegionalMarketingManager]
	[#assign approvedRoles = approvedRoles + ["Channel Regional Marketing Manager"] /]
[/#if]

[#if configuration.partnerManager]
	[#assign approvedRoles = approvedRoles + ["Partner Manager"] /]
[/#if]

[#if configuration.user]
	[#assign approvedRoles = approvedRoles + ["User"] /]
[/#if]

[#if mdfClaimId?has_content]
	[#assign myUserAccount = restClient.get("/headless-admin-user/v1.0/my-user-account") /]
	[#assign mdfClaim = restClient.get("/c/mdfclaims/${mdfClaimId}") /]
	[#assign claimStatus = (mdfClaim.mdfClaimStatus.key)! /]
	[#assign accountEntryId = (mdfClaim.r_accToMDFClms_accountEntryId)! /]
	[#assign mdfRequestId = (mdfClaim.r_mdfReqToMDFClms_c_mdfRequestId)! /]
	[#assign site_url = (themeDisplay.getURLCurrent()?keep_before("/l/${mdfClaimId}"))! /]
	[#assign userRoles = userRoles + (myUserAccount.accountBriefs?filter(account_brief -> account_brief.id == accountEntryId)?first.roleBriefs)! /]

	[#list userRoles as userRole]
		[#if approvedRoles?seq_contains(userRole.name) || claimStatus == "draft" || claimStatus == "moreInfoRequested"]
			<a class="btn btn-primary d-flex mr-2 mt-2" href="${site_url}/marketing/mdf-claim/new/#/mdfrequest/${mdfRequestId}/mdfclaim/${mdfClaimId}" id="edit-button-manager">
				<div>
					[@clay["icon"] symbol="pencil"/]
					Edit
				</div>
			</a>

			[#break]
		[/#if]
	[/#list]
	<a class="btn btn-primary d-none mr-2 mt-2" href="${site_url}/marketing/mdf-claim/new/#/mdfrequest/${mdfRequestId}/mdfclaim/${mdfClaimId}" id="edit-button-user">
		<div>
			[@clay["icon"] symbol="pencil"/]
			Edit
		</div>
	</a>
[/#if]