[#assign userRoles = permissionChecker.getUserBag().getRoles()/]

[#assign approvedRoles =[""] /]

[#if configuration.channelAccountManager]
	[#assign approvedRoles = approvedRoles + ["Channel Account Manager (CAM)"] /]
[/#if]
[#if configuration.channelFinanceManager]
	[#assign approvedRoles = approvedRoles + ["Channel Finance Manager (CFM)"] /]
[/#if]
[#if configuration.channelGeneralManager]
	[#assign approvedRoles = approvedRoles + ["Channel General Manager"] /]
[/#if]
[#if configuration.channelGlobalMarketingManager]
	[#assign approvedRoles = approvedRoles + ["Channel Global Marketing Manager"] /]
[/#if]
[#if configuration.channelRegionalMarketingManager]
	[#assign approvedRoles = approvedRoles + ["Channel Regional Marketing Manager"] /]
[/#if]
[#if configuration.user]
	[#assign approvedRoles = approvedRoles + ["User"] /]
[/#if]

[#assign myUserAccount = restClient.get("/headless-admin-user/v1.0/my-user-account") /]
[#assign hasPartnerManagerRole = myUserAccount.accountBriefs?filter(accountBrief -> accountBrief.roleBriefs?filter(roleBrief -> roleBrief.name == "Partner Manager (PM)")?has_content)?has_content ]

[#list userRoles as userRoles]
	[#if approvedRoles?seq_contains(userRoles.name) || hasPartnerManagerRole]
		<lfr-drop-zone></lfr-drop-zone>
		[#break]
	[/#if]
[/#list]