@import 'atlas-variables';

.criteria-sidebar-root {
	background-color: $white;
	border-left: 1px solid $gray-300;
	min-height: 100%;
	right: 0;
	width: $sidebarWidth;

	.sidebar-header,
	.sidebar-collapse-header,
	.empty-message {
		font-weight: 600;
	}

	.sidebar-header,
	.sidebar-search,
	.sidebar-collapse-header,
	.empty-message {
		padding: 1rem 1.5rem;
	}

	.sidebar-collapse {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}

	.sidebar-collapse-groups {
		flex-flow: column nowrap;
	}

	.sidebar-collapse-item {
		cursor: pointer;
		transition: flex-grow $segmentsTransition;
		will-change: flex-grow;

		&.active {
			flex-grow: 1;
		}
	}

	.sidebar-collapse-header {
		color: $dark;
		font-size: 0.875rem;
		word-wrap: break-word;

		.lexicon-icon {
			transition: transform $segmentsTransition;
			will-change: transform;

			&.active {
				transform: rotate(90deg);
			}
		}

		&:after {
			border-top: 1px solid $secondary-l1;
			bottom: 0;
			content: '';
			left: 1.5rem;
			position: absolute;
			right: 1.5rem;
		}
	}

	.criteria-sidebar-item-root {
		background-color: $white;
		border-left: 3px solid transparent;
		font-size: 0.875rem;
		transition: $segmentsTransition;
		transition-property: border-color, opacity;
		will-change: border-color, opacity;

		.lexicon-icon-drag {
			color: $secondary-l1;
			opacity: 0;
			transition: opacity $segmentsTransition;
			will-change: opacity;
		}

		&:hover .lexicon-icon-drag {
			opacity: 1;
		}

		&.dragging {
			opacity: 0.4;
		}

		&:active {
			cursor: grabbing;
		}

		&:hover {
			border-color: $blue;
			cursor: grab;

			@include generatePropertyGroupLoop(
				$propertyGroupsColors,
				'border-left-color',
				'color--'
			);
		}
	}
}
