@import 'atlas-variables';

.empty-drop-zone-root {
	background: $light-l1;
	border-width: 2px;

	.empty-drop-zone-target {
		height: 50vh;

		.empty-drop-zone-indicator {
			visibility: hidden;
		}

		&.dnd-hover {
			background: $primary-l3;

			.empty-drop-zone-indicator {
				visibility: visible;
			}
		}
	}
}

.empty-drop-zone-dashed {
	border-style: dashed;
}

.empty-drop-zone-target-solid {
	border-style: solid;
	border-width: 2px;
}
