.publisher-gate-page {
	&-body {
		margin-top: 4.5rem;
		width: 37.5rem;
	}
	&-button {
		margin-bottom: 1.5rem;

		&-container {
			align-items: end;
			display: flex;
			flex-direction: column;
			margin-bottom: 7.5rem;
		}
		&-link {
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
		}
	}
	&-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	&-divider {
		margin-bottom: 1.5rem;
		margin-top: 2rem;
	}
	&-icon {
		color: #0b5fff;
	}
	&-link {
		font-size: 16px;
	}
	&-text {
		margin-bottom: 2rem;
	}
}
.header-description {
	color: #54555f;
}
